//global css

//브라우저에서는 보이지 않지만 텍스트를 브라우저에 전달해야할 때(screen reader를 사용하는경우)
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

//반응형 디자인
.sm-only {
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.md-only {
  @media screen and (max-width: $md-breakpoint - 1) {
    //767px 까지 적용
    display: none !important;
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

.lg-only {
  @media screen and (max-width: $lg-breakpoint -1) {
    //1199px까지
    display: none !important;
  }
}

.sm-hidden {
  @media screen and (max-width: $md-breakpoint -1) {
    //767px까지
    display: none !important;
  }
}

.md-hidden {
  @media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1) {
    //mobile, desktop ->ㅇ / tablet->X
    display: none !important;
  }
}

.lg-hidden {
  @media screen and (min-width: $lg-breakpoint) {
    //767px까지
    display: none !important;
  }
}