.lnb {
  $lnb-link-padding: 8px;

  @include no-scrollbar;
  overflow-x: auto;
  //gird에 영향을 받지 않는 곳에 border적용
  background-color: $white;
  border-bottom: 1px solid $border;

  &-list {
    @include inline-flexbox(start);
    //width: max-content;
    //width : 550px적용보다는 유연하게 동작하도록 max-content 적용
    height: $lnb-height-sm;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    white-space: nowrap;
  }

  &-item {
    //flex-shrink: 0; //flex박스에 위해 공간이 좁아져도 본래 크기를 줄이지 말기

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox; //inlineblock의 성격을 가짐_자신이 가진 content의 사이즈만큼을 width로 갖는다.
      @include text-style(13px, $dark);
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;

    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}
