.sidebar {
  $sidebar-width: 240px;

  @include no-scrollbar; //스크롤 없애기_스크롤바 꾸미기가 가능
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: $sidebar-width;
  height: 100vh;
  padding: 32px 20px;
  overflow-y: auto; //화면 크기에 넘치는 컨텐츠를 볼수있게 스크롤이 내려질 수 있도록
  background-color: $white;
  transform: translate3d(-#{$sidebar-width}, 0, 0);
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain; //overlay 부분 스크롤이 안내려가도록 설정

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    padding: 0 12px;

    .logo {
      @include flexbox(start);

      a {
        display: block;
      }

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start);
    height: 88px;
    //패딩값을 하나씩 주지 않아도 nav와 log사이 가운데정렬
  }

  &-user {
    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%;
      font-weight: 700;
    }

    .avatar-24 {
      flex-grow: 0;
      flex-shrink: 0; //한줄 영역이 넘쳐도 이미지가 망가지지 않도록
      margin-right: 8px;
    }

    .username {
      flex-grow: 1; //나머지 빈공간 영역을 다 차지하도록 username 최대폭 정
      overflow: hidden; //이미지,텍스트, 요소가 넘쳤을때 _가질 수 있는 최대크기 144px로 고정
      text-overflow: ellipsis; //텍스트가 넘칠때 ...처리
      white-space: nowrap; //truncate
    }
  }

  &-auth {
    @include flexbox(between);
    padding: 24px 0;

    a {
      width: 84px;
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  &-user-menu {
    margin-top: 16px; //로그인을 한 경우에만 보이기 때문

    .user-menu-item {
      a {
        @include flexbox(start);
        @include text-style(14, $primary);
        width: 100%;
        height: 36px;
        padding: 0 12px;

        &:active {
          color: $blue;
        }
      }
    }
  }
}
